.povezava {
    position: absolute;
    transform: rotate(var(--rot));
}


.bela-povezava {
    filter: grayscale(1) brightness(6);
}


.siva-povezava {
    filter: grayscale(1) brightness(3);
}

.brez-robov {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

.ni-postavljena-karta {
    filter: brightness(0.5);
}

.igralec {
    position: absolute;
    left: var(--odmik_x);
    top: var(--odmik_y);
}

.hue {
    filter: hue-rotate(var(--hue)) saturate(30);
}

.tabela {
    position: relative;
}

.besedilo {
    font-size: large;
    font-family: Candara;
}